In [29]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
df = pd.read_excel('./Relogio.xlsx')

In [37]:
display(df)

    Duração  Pulso médio  Pulso Minimo  Calorias gastas
0      60.0   110.000000    130.000000           4091.0
1      60.0   117.000000    145.000000           4790.0
2      60.0   103.000000    128.392857           3400.0
3      45.0   109.000000    175.000000           2824.0
4      45.0   103.222222    148.000000           4060.0
5      60.0   102.000000    127.000000           3000.0
6      60.0   110.000000    136.000000           3740.0
7      45.0   104.000000    128.392857           2533.0
8      30.0   109.000000    133.000000           1951.0
9      60.0    98.000000    124.000000           2690.0
10     60.0   103.000000    147.000000           3293.0
11     60.0   100.000000    120.000000           2507.0
12     60.0   103.222222    120.000000           2507.0
13     60.0   106.000000    128.000000           3453.0
14     60.0   104.000000    132.000000           3793.0
15     60.0    98.000000    123.000000           2750.0
16     60.0    98.000000    120.000000           2152.0
17     60.0   100.000000    120.000000           3000.0
18     45.0    90.000000    112.000000           3046.8
19     60.0   103.222222    123.000000           3230.0
20     45.0    97.000000    125.000000           2430.0
21     60.0   108.000000    131.000000           3642.0
22     60.0   100.000000    128.392857           2820.0
23     60.0   130.000000    101.000000           3000.0
24     45.0   103.222222    132.000000           2460.0
25     60.0   102.000000    126.000000           3345.0
26     60.0   103.222222    120.000000           2500.0
27     60.0    92.000000    118.000000           2410.0
28     60.0   103.000000    132.000000           3046.8
29     60.0   100.000000    132.000000           2800.0
30     60.0   102.000000    128.392857           3803.0
31     60.0    92.000000    115.000000           2430.0

In [36]:
# atualizando valores especificos
df.at[7, 'Duração'] = 45.0
df.at[22, 'Duração'] = 60.0

In [33]:
# Substituindo valores vazios
df['Duração'].fillna(df['Duração'].mean(), inplace=True)
df['Pulso médio'].fillna(df['Pulso médio'].mean(), inplace=True)
df['Pulso Minimo'].fillna(df['Pulso Minimo'].mean(), inplace=True)
df['Calorias gastas'].fillna(df['Calorias gastas'].mean(), inplace=True)

In [35]:
df.count()

Duração            32
Pulso médio        32
Pulso Minimo       32
Calorias gastas    32
dtype: int64